<nav class="navbar navbar-default header">
  <div class="container-fluid">
    <div class="navbar-header">
      <a routerLink='/home' class="navbar-brand">r&#8734;m&#178;</a>
    </div>

    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav navbar-right">
        <a class="header-link" (click)="openModal('register')">anmelden/registrieren</a>
      </ul>
    </div>
  </div>
</nav>

<!-- Sichtbar, sobald man auf Registrieren oder Anmelden klickt -->
<app-modal id="register" class="modal-register">
  <div class="modal">
    <div class="modal-body">
      <div class="tab">
        <button class="tablinks" (click)="openTab(event, 'anmelden')">Anmelden</button>
        <button class="tablinks" (click)="openTab(event, 'registrieren')">Registrieren</button>
      </div>

      <div id="anmelden" class="tabcontent" style="display: none;">
        <form name="loginForm" (ngSubmit)="onLogin()">
          <div class="form-group">
            <label for="email">E-Mail Adresse</label>
            <input type="email" class="form-control" id="email" name="email" ngModel />
          </div>
          <div class="form-group">
            <label for="login_password">Passwort</label>
            <input type="password" class="form-control" id="login_password" name="login_password" ngModel />
            <div class="forgotpw">passwort vergessen?</div>
          </div>
          <button class="btn button_style" type="submit">Anmelden</button>
        </form>
      </div>

      <div id="registrieren" class="tabcontent" style="display: block;">
        <form (ngSubmit)="onSignup()">
          <div class="form-group">
            <label for="firstName">Vorname</label>
            <input type="text" id="firstName" name="firstName" ngModel class="form-control">
          </div>
          <div class="form-group">
            <label for="lastName">Nachname</label>
            <input type="text" id="lastName" name="lastName" ngModel class="form-control">
          </div>
          <div class="form-group">
            <label for="bday">Geburtsdatum</label>
            <input type="date" id="bday" name="bday" ngModel class="form-control" style="width: 160px;">
          </div>
          <div class="form-group">
            <label for="email">E-Mail Adresse</label>
            <input type="email" id="email" name="email" ngModel class="form-control">
          </div>
          <div class="form-group">
            <label for="password">Passwort</label>
            <input type="password" id="password" name="password" ngModel class="form-control">
          </div>
          <div class="form-group">
            <label for="confirm_password">Passwort wiederholen</label>
            <input type="password" id="confirm_password" name="confirm_password" ngModel class="form-control">
          </div>
          <button class="btn button_style" type="submit">Registrieren</button>
        </form>
      </div>
      <!--<button (click)="closeModal( 'register'); ">Close</button>-->
    </div>
  </div>
  <div class="modal-background"></div>
</app-modal>
