<div class="row" style="background-color: #FCFCFC">
  <div class="col-xs-12 footer">
    <div class="container">
      <div class="all-links">
        <a routerLink='/not-found'>Impressum</a><br />
        <a routerLink='/not-found'>&Uuml;ber uns</a><br />
        <a routerLink='/not-found'>Fragen und Antworten</a><br />
        <a routerLink='/not-found'>Hilfe und Support</a><br />
        <a routerLink='/home'><img class="logo" src="../assets/Logo-nachtblau.png" alt="room²" title="room²" /></a>
      </div>
    </div>
  </div>
</div>
