<div class="row">
  <div class="col-xs-12 footer">
    <div class="container">
      <div class="all-links">
        <div class="links-left">
          <a href="/not-found">Impressum</a><br>
          <a href="/not-found">&Uuml;ber uns</a><br>
          <a href="/not-found">Fragen und Antworten</a><br>
          <a href="/not-found">Hilfe und Support</a>
        </div>
        <div class="links-right">
          <a href="/not-found">anmelden oder registrieren</a><br>
          <a href="/not-found">Vermieter werden</a>
        </div>
      </div>
      <div class="logo">
        r&#8734;m&#178;
      </div>
    </div>
  </div>
</div>
