<div class="row">
  <div class="col-xs-12 footer">
    <div class="container">
      <div class="all-links">
        <div class="links-left">
          <a routerLink='/not-found'>Impressum</a><br>
          <a routerLink='/not-found'>&Uuml;ber uns</a><br>
          <a routerLink='/not-found'>Fragen und Antworten</a><br>
          <a routerLink='/not-found'>Hilfe und Support</a>
        </div>
        <div class="links-right">
          <a routerLink='/not-found'>anmelden oder registrieren</a><br>
          <a routerLink='/not-found'>Vermieter werden</a>
        </div>
      </div>
      <div class="logo">
        r&#8734;m&#178;
      </div>
    </div>
  </div>
</div>
