<!-- Sichtbar, sobald man auf Registrieren oder Anmelden klickt -->
<app-modal id="register" class="modal-register">
  <div class="modal">
    <div class="modal-body">
      <div class="tab">
        <button class="tablinks" (click)="openTab(event, 'anmelden')">Anmelden</button>
        <button class="tablinks" (click)="openTab(event, 'registrieren')">Registrieren</button>
      </div>

      <div id="anmelden" class="tabcontent" style="display: none;">
        <form name="loginForm" (ngSubmit)="onLogin(f1)" #f1="ngForm">
          <div class="form-group">
            <label for="login_email">E-Mail Adresse</label>
            <input type="email" class="form-control" id="login_email" name="login_email" ngModel required email />
          </div>
          <div class="form-group">
            <label for="login_password">Passwort</label>
            <input type="password" class="form-control" id="login_password" name="login_password" ngModel required />
            <div class="forgotpw">passwort vergessen?</div>
          </div>
          <button [disabled]="!f1.valid" class="btn button_style" type="submit">Anmelden</button>
        </form>
      </div>

      <div id="registrieren" class="tabcontent" style="display: block;">
        <form (ngSubmit)="onSignup(f2)" #f2="ngForm">
          <div class="form-group">
            <label for="firstName">Vorname</label>
            <input type="text" id="firstName" name="firstName" ngModel class="form-control" required #sf="ngModel" />
            <span *ngIf="!sf.valid && sf.touched">Please enter your first name.</span>
          </div>
          <div class="form-group">
            <label for="lastName">Nachname</label>
            <input type="text" id="lastName" name="lastName" ngModel class="form-control" required #sl="ngModel" />
            <span *ngIf="!sl.valid && sl.touched">Please enter your last name.</span>
          </div>
          <div class="form-group">
            <label for="bday">Geburtsdatum</label>
            <input type="date" id="bday" name="bday" ngModel class="form-control" style="width: 160px;" min='1920-01-01' max='1999-07-28'
              required #sb="ngModel" />
            <span *ngIf="!sb.valid && sb.touched">Please enter your birthday.</span>
          </div>
          <div class="form-group">
            <label for="signin_email">E-Mail Adresse</label>
            <input type="email" id="signin_email" name="signin_email" ngModel class="form-control" required email #se="ngModel" />
            <span *ngIf="!se.valid && se.touched">Please enter a valid email.</span>
          </div>
          <div class="form-group">
            <label for="signin_password">Passwort</label>
            <input type="password" minlength="6" id="signin_password" name="signin_password" ngModel class="form-control" required #sp="ngModel"
              validateEqual="confirm_password" reverse="true" />
            <span *ngIf="!sp.valid && sp.touched">Please enter a password with at least 6 characters.</span>
          </div>
          <div class="form-group">
            <label for="confirm_password">Passwort wiederholen</label>
            <input type="password" id="confirm_password" name="confirmPassword" ngModel class="form-control" required validateEqual="signin_password"
              reverse="false" #scp="ngModel" />
            <span *ngIf="!scp.valid && scp.touched">Password mismatch</span>
          </div>
          <button [disabled]="!f2.valid" class="btn button_style" type="submit">Registrieren</button>
        </form>
      </div>
    </div>
  </div>
  <div class="modal-background"></div>
</app-modal>
