<div class="row rotate" *ngIf="isDataAvailable">
  <div class="room_rotate">
    <img src="{{ rooms[pSelectedRoom].roompic }}" (click)="loadPreviousRoom()" class="rotate_pic" style="filter: brightness(40%);"
    />
    <div class="rotate_info" (click)="loadPreviousRoom()">
      <div class="rotate_detail1">{{ rooms[pSelectedRoom].name }}</div>
      <div class="rotate_detail2">in {{ rooms[pSelectedRoom].location }}</div>
      <div class="rotate_detail3">{{ rooms[pSelectedRoom].price }} <span style="font-size: 18px;">€ / Stunde</span></div>
    </div>
    <div class="rotate_arrow_left" (click)="previous()">❮</div>
  </div>

  <div class="room_rotate" (click)="loadCurrentRoom()">
    <img src="{{ rooms[mSelectedRoom].roompic }}" class="rotate_pic" />
    <div class="rotate_info">
      <div class="rotate_detail1">{{ rooms[mSelectedRoom].name }}</div>
      <div class="rotate_detail2">in {{ rooms[mSelectedRoom].location }}</div>
      <div class="rotate_detail3">{{ rooms[mSelectedRoom].price }} <span style="font-size: 18px;">€ / Stunde</span></div>
    </div>
  </div>

  <div class="room_rotate">
    <img src="{{ rooms[nSelectedRoom].roompic }}" (click)="loadNextRoom()" class="rotate_pic" style="filter: brightness(40%);"
    />
    <div class="rotate_info" (click)="loadNextRoom()">
      <div class="rotate_detail1">{{ rooms[nSelectedRoom].name }}</div>
      <div class="rotate_detail2">in {{ rooms[nSelectedRoom].location }}</div>
      <div class="rotate_detail3">{{ rooms[nSelectedRoom].price }} <span style="font-size: 18px;">€ / Stunde</span></div>
    </div>
    <div class="rotate_arrow_right" (click)="next()">❯</div>
  </div>
</div>
