<div class="row room-attr">
  <div class="col-xs-12">
    <div class="box" style="margin-top: 60px;">
      <div class="boxtitle" style="text-align: center;">Beschreibung</div>
      <div class="description">Hey kommt vorbei und kocht gemeinsam in meiner kleinen Küche.<br /><br /> Es gibt einen Herd, Pfannen und ganz viel
        Liebe hier. Außerdem habe ich ein cooles rotes Fahrrad im Flur stehen (und das bleibt da auch stehen!). <br /><br
        />Ich freu mich auf euch :)
      </div>
    </div>
    <div class="box" style="margin-top: 20px;">
      <div class="col-sm-6">
        <div class="boxtitle">Eigenschaften</div>
        <div class="list" style="margin-right: 5px;">
          <div class="row">
            <div class="col-sm-10">WLAN</div>
            <div class="col-sm-2"><input type="checkbox" class="checkbox" checked /></div>
          </div>
          <div class="row">
            <div class="col-sm-10">Barrierefrei</div>
            <div class="col-sm-2"><input type="checkbox" class="checkbox" /></div>
          </div>
          <div class="row">
            <div class="col-sm-10">mit Raucherbereich</div>
            <div class="col-sm-2"><input type="checkbox" class="checkbox" checked /></div>
          </div>
          <div class="row">
            <div class="col-sm-10">für Kinder geeignet</div>
            <div class="col-sm-2"><input type="checkbox" class="checkbox" checked /></div>
          </div>
          <div class="row">
            <div class="col-sm-10">Schalldämpfung</div>
            <div class="col-sm-2"><input type="checkbox" class="checkbox" /></div>
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="boxtitle" style="margin-left: 5px;">Ausstattung</div>
        <div class="list" style="margin-left: 5px;">
          <div class="row">
            <div class="col-sm-9">Stuhl</div>
            <div class="col-sm-3">4 Stück</div>
          </div>
          <div class="row">
            <div class="col-sm-9">Tisch</div>
            <div class="col-sm-3">4 Stück</div>
          </div>
          <div class="row">
            <div class="col-sm-9">Spüle</div>
            <div class="col-sm-3">1 Stück</div>
          </div>
          <div class="row">
            <div class="col-sm-9">Kühlschrank</div>
            <div class="col-sm-3">2 Stück</div>
          </div>
          <div class="row">
            <div class="col-sm-9">Mikrowelle</div>
            <div class="col-sm-3">1 Stück</div>
          </div>
        </div>
      </div>
    </div>
    <div class="box" style="margin-top: 20px;">
      <div class="boxtitle">Adresse</div>
      <div class="address">
        <div class="row" style="margin-top: 0;">
          <div class="attr_title">Land</div>
          <div class="field_left">Deutschland</div>
        </div>
        <div class="row">
          <div class="col-sm-6">
            <div class="attr_title">Postleitzahl</div>
            <div class="field_left">68165</div>
          </div>
          <div class="col-sm-6">
            <div class="attr_title">Stadt</div>
            <div class="field_right">Mannheim</div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-6">
            <div class="attr_title">Hausnummer</div>
            <div class="field_left">32</div>
          </div>
          <div class="col-sm-6">
            <div class="attr_title">Straße</div>
            <div class="field_right">Emanuel-Kant-Straße</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
