<div class="row room-attr">
  <div class="col-xs-12">
    <div class="box" style="margin-top: 60px;">
      <div class="boxtitle" style="text-align: center;">Beschreibung</div>
      <div class="description">Hey kommt vorbei und kocht gemeinsam in meiner kleinen Küche.<br /><br /> Es gibt einen Herd, Pfannen und ganz viel
        Liebe hier. Außerdem habe ich ein cooles rotes Fahrrad im Flur stehen (und das bleibt da auch stehen!). <br /><br
        />Ich freu mich auf euch :)
      </div>
    </div>
    <div class="box" style="margin-top: 20px;">
      <div class="boxtitle">Eigenschaften / Ausstattung</div>
      <div style="background-color: #eee;">Textbox</div>
    </div>
    <div class="box" style="margin-top: 20px;">
      <div class="boxtitle">Adresse</div>
      <div class="address">Textbox</div>
    </div>
  </div>
</div>
