<div class="row landlord">
  <div class="col-xs-12">
    <div class="info_container">
      <div class="row upper">
        <div class="col-sm-3" style="padding: 0;"><img src="{{ room.userpic }}" style="width: 200px; height: 200px; border-radius: 100%; margin-top: 5px; margin-left: 5px;"></div>
        <div class="col-sm-9">
          <div class="row" style="font-family: Century Gothic; font-size: 47px; margin-left: 8px;">{{ room.owner }}</div>
          <div class="row infotext">
            <div class="infotext_overflow">{{ room.ownerdescription }}</div>
          </div>
          <ng-template [ngIf]="authService.isAuthenticated()">
            <div class="realfriend">Ein echter Freund!</div>
            <div class="realfriend_d1"></div>
            <div class="realfriend_d2"></div>
            <div class="realfriend_d3"></div>
            <div class="realfriend_d4"></div>
            <div class="realfriend_d5"></div>
          </ng-template>
        </div>
      </div>
      <div class="row data">
        <div class="col-sm-3">
          <div class="user_data">{{ room.age }}</div>
          <div class="text">Alter</div>
        </div>
        <div class="col-sm-3">
          <div class="user_data">{{ room.usersince }}</div>
          <div class="text">Nutzer seit dem</div>
        </div>
        <div class="col-sm-3">
          <div class="user_data">{{ room.reliability }}</div>
          <div class="text">Zuverlässigkeit</div>
        </div>
        <div class="col-sm-3">
          <div class="user_data">{{ room.totalrooms }}</div>
          <div class="text">Räume im Angebot</div>
        </div>
      </div>
      <div class="row contact">
        <div class="title">Kontakt</div>
        <div class="send_message">
          <a>
            <div><i class="fa fa-comments" aria-hidden="true" style="font-size: 30px;"></i></div>
            <div>Nachricht senden</div>
          </a>
        </div>
        <div class="phone_mail">
          <div style="font-family: Arial;">{{ room.phone }}</div>
          <div style="text-transform: uppercase;">Telefonnummer</div>
        </div>
        <div class="phone_mail">
          <div style="font-family: Arial;">{{ room.email }}</div>
          <div style="text-transform: uppercase;">E-Mail Adresse</div>
        </div>
      </div>
    </div>
  </div>
</div>
