<div class="row comments">
  <div class="col-xs-12">
    <div class="comments_container">
      <div class="row">
        <img src="https://static.pexels.com/photos/29872/pexels-photo-29872.jpg" class="userimg" />
        <div class="username">Manuel</div>
        <div class="comment">Hallo alle zusammen! Ich bin Manuel und ich bin stets auf der Suche nach tollen Orten zum Leben und Erleben. Vielleicht
          habt ihr ja einen schicken Raum? Ich freu mich darauf euch kennen zu lernen. Schaut auch gerne mal bei mir vorbei.
          Bis bald :)
        </div>
        <div class="commenttime">kommentiert am 16.07.2017</div>
        <div class="arrow">◄</div>
        <i *ngIf="authService.isAuthenticated()" class="fa fa-trash-o icon" aria-hidden="true"></i>
        <div *ngIf="authService.isAuthenticated()" class="realfriend">Ein echter Freund!</div>
      </div>
      <div class="row">
        <img src="https://68.media.tumblr.com/aaa5efc7cd6f4d563019e7b85a44f57b/tumblr_o4jmbePal71twygmto1_500.jpg" class="userimg"
        />
        <div class="username">Anna-Lena</div>
        <div class="comment">Hey das ist echt cool hier! Kann ich wirklich weiterempfehlen.
        </div>
        <div class="commenttime">kommentiert am 16.07.2017</div>
        <div class="arrow">◄</div>
        <i *ngIf="authService.isAuthenticated()" class="fa fa-exclamation-triangle icon" aria-hidden="true"></i>
      </div>
    </div>
  </div>
</div>
