<div class="row rooms">
  <div class="col-xs-12">
    <h1>GEMEINSAM EINE GEMEINSCHAFT</h1>
  </div>
</div>
<div class="row welcome-text">
  <div class="col-xs-12">
    <div class="text-section">
      Wo Menschen Raum zum entfalten finden, kann Großes entstehen. Gemeinsam können wir uns unterstützen. Wenn wir unseren Raum
      teilen, bieten wir mehr Platz für alle. Egal, ob Private Public Viewing, gemeinsames Kochen mit Freunden oder großes
      Klassentreffen. Egal, ob im Keller nebenan oder in einer Scheune. Wir haben uns überall Raum geschaffen. Lasst ihn
      uns teilen und richtig nutzen!
    </div>
    <div class="signin">
      <button class="signin-box btn" type="button" data-toggle="modal" data-target="#log">
        REGISTRIEREN
      </button>
    </div>
    <div class="login">
      <a href="#">ANMELDEN</a>
    </div>
  </div>
</div>

<div id="log" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Modal Header</h4>
      </div>
      <div class="modal-body">
        <p>Some text in the modal.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
