<div class="row rooms">
  <div class="col-xs-12">
    <h1>GEMEINSAM EINE GEMEINSCHAFT</h1>
  </div>
</div>
<div class="row welcome-text">
  <div class="col-xs-12">
    <div class="text-section">
      Wo Menschen Raum zum entfalten finden, kann Großes entstehen. Gemeinsam können wir uns unterstützen. Wenn wir unseren Raum
      teilen, bieten wir mehr Platz für alle. Egal, ob Private Public Viewing, gemeinsames Kochen mit Freunden oder großes
      Klassentreffen. Egal, ob im Keller nebenan oder in einer Scheune. Wir haben uns überall Raum geschaffen. Lasst ihn
      uns teilen und richtig nutzen!
    </div>
    <div class="signin">
      <button (click)="openModal('register')" class="signin-box btn">
        REGISTRIEREN
      </button>
    </div>
    <div class="login">
      <a href="#">ANMELDEN</a>
    </div>
  </div>
</div>

<app-modal id="register" class="modal-register">
  <div class="modal">
    <div class="modal-body">
      <div class="tab">
        <button class="tablinks" (click)="openTab(event, 'Anmelden')">Anmelden</button>
        <button class="tablinks" (click)="openTab(event, 'Registrieren')">Registrieren</button>
      </div>

      <div id="Anmelden" class="tabcontent">
        <p>London is the capital city of England.</p>
      </div>

      <div id="Registrieren" class="tabcontent">
        <p>Paris is the capital of France.</p>
      </div>
      <button (click)="closeModal('register');">Close</button>
    </div>
  </div>
  <div class="modal-background"></div>
</app-modal>
