<!--NICHT VERGESSEN, DIE MODALS NOCH AUSZULAGERN!!!-->

<div class="row rooms">
  <div class="col-xs-12">
    <h1>GEMEINSAM EINE GEMEINSCHAFT</h1>
  </div>
</div>
<div class="row welcome-text">
  <div class="col-xs-12">
    <div class="text-section">
      Wo Menschen Raum zum entfalten finden, kann Großes entstehen. Gemeinsam können wir uns unterstützen. Wenn wir unseren Raum
      teilen, bieten wir mehr Platz für alle. Egal, ob Private Public Viewing, gemeinsames Kochen mit Freunden oder großes
      Klassentreffen. Egal, ob im Keller nebenan oder in einer Scheune. Wir haben uns überall Raum geschaffen. Lasst ihn
      uns teilen und richtig nutzen!
    </div>
    <div class="signin">
      <button (click)="openModal('register')" class="signin-box btn">
        REGISTRIEREN
      </button>
    </div>
    <div class="login">
      <a (click)="openModal('register')">ANMELDEN</a>
    </div>
  </div>
</div>



<!-- Sichtbar, sobald man auf Registrieren oder Anmelden klickt -->
<app-modal id="register" class="modal-register">
  <div class="modal">
    <div class="modal-body">
      <div class="tab">
        <button class="tablinks" (click)="openTab(event, 'anmelden')">Anmelden</button>
        <button class="tablinks tabblue" (click)="openTab(event, 'registrieren')">Registrieren</button>
      </div>

      <div id="anmelden" class="tabcontent" style="display: none;">
        <form name="loginForm" (ngSubmit)="onLogin()">
          <div class="form-group">
            <label for="email">E-Mail Adresse</label>
            <input type="email" class="form-control" id="email" name="email" ngModel />
          </div>
          <div class="form-group">
            <label for="login_password">Passwort</label>
            <input type="password" class="form-control" id="login_password" name="login_password" ngModel />
            <div class="forgotpw">passwort vergessen?</div>
          </div>
          <button class="btn button_style" type="submit">Anmelden</button>
        </form>
      </div>

      <div id="registrieren" class="tabcontent" style="display: block;">
        <form (ngSubmit)="onSignup()">
          <div class="form-group">
            <label for="firstName">Vorname</label>
            <input type="text" id="firstName" name="firstName" ngModel class="form-control">
          </div>
          <div class="form-group">
            <label for="lastName">Nachname</label>
            <input type="text" id="lastName" name="lastName" ngModel class="form-control">
          </div>
          <div class="form-group">
            <label for="bday">Geburtsdatum</label>
            <input type="date" id="bday" name="bday" ngModel class="form-control" style="width: 160px;">
          </div>
          <div class="form-group">
            <label for="email">E-Mail Adresse</label>
            <input type="email" id="email" name="email" ngModel class="form-control">
          </div>
          <div class="form-group">
            <label for="password">Passwort</label>
            <input type="password" id="password" name="password" ngModel class="form-control">
          </div>
          <div class="form-group">
            <label for="confirm_password">Passwort wiederholen</label>
            <input type="password" id="confirm_password" name="confirm_password" ngModel class="form-control">
          </div>
          <button class="btn button_style" type="submit">Registrieren</button>
        </form>
      </div>
      <!--<button (click)="closeModal( 'register'); ">Close</button>-->
    </div>
  </div>
  <div class="modal-background"></div>
</app-modal>
