<div class="row booking">
  <div class="col-xs-12">
    <div class="content">
      <div class="content_title">Buchen</div>
      <div class="pricebox">
        <div class="pricebox_inner">
          <div class="price_font">Preis</div>
          <div class="price">{{ room.price }}</div>
          <div class="eurperh">€ / Stunde</div>
        </div>
      </div>
      <div class="data">
        <div class="booking_font" style="margin-top: 5px; margin-left: -41px;">von</div>
        <input type="datetime-local" class="datetime" [(ngModel)]="dateiinput1" min="2017-07-22T01:00:00">
        <div class="booking_font" style="margin-top: -42px; margin-left: 236px;">bis</div>
        <input type="datetime-local" class="datetime" [(ngModel)]="dateiinput2" style="margin-left: 71px;" min="2017-07-22T02:00:00">
        <div class="booking_font" style="margin-top: -42px; margin-left: 505px;">Personen</div>
        <input type="number" class="numberinput" style="width: 90px; margin-left: 129px;" min="1" />
      </div>
      <button *ngIf="!authService.isAuthenticated()" (click)="openModal('userhint')" class="btn button_style" type="submit">Sofort buchen</button>
      <button *ngIf="authService.isAuthenticated()" (click)="openModal('directbooking')" class="btn button_style" type="submit">Sofort buchen</button>
    </div>
  </div>
</div>

<!-- Sichtbar, sobald man auf sofort buchen klickt (eingeloggt) -->
<app-modal id="directbooking" class="modal-directbooking">
  <div class="modal">
    <div class="modal-body">
      <div class="content_title">Sofort buchen</div>
      <div class="pricebox">
        <div class="price">{{ room.price }}</div>
        <div class="eurperh">€ / Stunde</div>
      </div>
      <div class="data">
        <div class="booking_font" style="margin-top: 5px; margin-left: -41px;">von</div>
        <input ngModel type="datetime-local" class="datetime" [(ngModel)]="dateiinput1" min="2017-07-22T01:00:00" required #d1="ngModel"
        />
        <div class="booking_font" style="margin-top: -42px; margin-left: 236px;">bis</div>
        <input ngModel type="datetime-local" class="datetime" [(ngModel)]="dateiinput2" style="margin-left: 71px;" min="2017-07-22T02:00:00"
          required #d2="ngModel" />
        <div class="booking_font" style="margin-top: -42px; margin-left: 505px;">Personen</div>
        <input type="number" class="numberinput" style="width: 90px; margin-left: 129px;" min="1" />
      </div>
      <div class="booking-details">
        <div class="row detail_title">Bankverbindung</div>
        <div class="row" style="margin-top: 10px;">
          <div class="col-sm-2">Kontoinhalber</div>
          <div class="col-sm-10"><input ngModel class="name" type="text" required #ko="ngModel" /></div>
        </div>
        <div class="row" style="margin-top: 15px;">
          <div class="col-sm-2">IBAN</div>
          <div class="col-sm-10"><input ngModel pattern="^DE\d{2}[ ]\d{4}[ ]\d{4}[ ]\d{4}[ ]\d{4}[ ]\d{2}|DE\d{20}$" class="iban" type="text" required
              #ib="ngModel" /><span class="ibanhint" *ngIf="!ib.valid && ib.touched">&nbsp;Please enter a valid IBAN.</span></div>
        </div>
        <div class="row detail_title" style="margin-top: 15px;">Rechnungsadresse</div>
        <div class="row">
          <div class="row" style="margin-top: 10px;">
            <div class="col-sm-6">
              <div class="col-sm-3">Vorname</div>
              <div class="col-sm-9"><input ngModel class="address" type="text" required #vo="ngModel" /></div>
            </div>
            <div class="col-sm-6">
              <div class="col-sm-3">Nachname</div>
              <div class="col-sm-9"><input ngModel class="address" type="text" required #na="ngModel" /></div>
            </div>
          </div>
          <div class="row" style="margin-top: 15px;">
            <div class="col-sm-2" style="padding-right: 41px;">Land</div>
            <div class="col-sm-10"><input ngModel class="iban" type="text" style="margin-left: -29px; width: 264px;" required #la="ngModel" /></div>
          </div>
          <div class="row" style="margin-top: 15px;">
            <div class="col-sm-6">
              <div class="col-sm-3">Postleitzahl</div>
              <div class="col-sm-9"><input ngModel class="address" pattern="\d{0,9}" minlength="5" maxlength="5" type="text" required #plz="ngModel"
                /></div>
            </div>
            <div class="col-sm-6">
              <div class="col-sm-3">Stadt</div>
              <div class="col-sm-9"><input ngModel class="address" type="text" required #sta="ngModel" /></div>
            </div>
          </div>
          <div class="row" style="margin-top: 15px; margin-bottom: 10px;">
            <div class="col-sm-6">
              <div class="col-sm-3">Straße</div>
              <div class="col-sm-9"><input ngModel class="address" type="text" required #str="ngModel" /></div>
            </div>
            <div class="col-sm-6">
              <div class="col-sm-3">Hausnr.</div>
              <div class="col-sm-9"><input ngModel class="address" type="text" required #hnr="ngModel" /></div>
            </div>
          </div>
        </div>
      </div>
      <div class="row info">
        <div class="col-sm-3">
          <md-checkbox class="mycheckbox" [(ngModel)]="disableButton"></md-checkbox>
        </div>
        <div class="col-sm-9 infotext">Mit dem Klick auf "sofort verbindlich buchen" bestätige ich die <a href='/not-found'>AGB</a>,
          <a href='/not-found'>Nutzerrichtlinien</a> und
          <a href='/not-found'>Hinweise zur Miete und Vermietung von Räumen</a> gelesen zu haben und akzeptiere diese. Ich
          bin informiert, dass ich mit dem Klick auf "sofort verbindlich buchen" eine entsprechend verbindliche Zusage erteile.
          Für die Stornierung einer solchen Buchung fallen Gebühren an, die ich zahlen muss. Ebenso bin ich mir bewusst,
          dass dies negative Auswirkungen auf meine Bewertung auf dieser Plattform hat.</div>
      </div>
      <button class="btn button_style" (click)="closeModal('directbooking');" (click)="openModal('success')" [disabled]="!disableButton || !ko.valid || !ib.valid || !vo.valid || !na.valid || !la.valid || !plz.valid || !sta.valid || !str.valid || !hnr.valid || !d1.valid || !d2.valid">Sofort verbindlich buchen</button>
    </div>
  </div>
  <div class="modal-background"></div>
</app-modal>

<!-- Sichtbar, sobald man auf sofort buchen klickt (ausgeloggt) -->
<app-modal id="userhint" class="modal-userhint">
  <div class="modal">
    <div class="modal-body">
      <div class="hint-title">Bitte einloggen!</div>
      <div class="hint-text1">Das Buchen von Räumen ist nur eingeloggten Nutzern möglich.</div>
      <div class="hint-text2">Nicht eingeloggt oder noch kein Nutzerkonto bei uns?<br />Werde ein Teil unserer Community und erstelle Dir jetzt ein
        Konto oder melde Dich an zum Mieten oder Vermieten von freistehenden Räumen!<br /><br />Wir freuen uns auf Dich!</div>
      <button class="btn button_style" (click)="closeModal('userhint');">Fenster schließen</button>
    </div>
  </div>
  <div class="modal-background"></div>
</app-modal>

<!-- Sichtbar, sobald man auf sofort verbindlich buchen geht, innerhalb des directbooking modals -->
<app-modal id="success" class="modal-success">
  <div class="modal">
    <div class="modal-body">
      <div class="success-title">Danke!</div>
      <div class="success-text1">Der Raum wurde erfolgreich gebucht</div>
      <div class="success-text2">In Kürze erhältst Du von uns eine E-Mail mit der Buchungsbestätigung und Deine Rechnung.<br />Das Geld wird automatisch
        per Lastschrift von Deinem Konto abgebucht.</div>
      <button class="btn button_style" (click)="closeModal('success');">Fenster schließen</button>
    </div>
  </div>
  <div class="modal-background"></div>
</app-modal>
