<div class="row booking">
  <div class="col-xs-12">
    <div class="content">
      <div class="title">Buchen</div>
      <div class="pricebox">
        <div class="pricebox_inner">
          <div class="price_font">Preis</div>
          <div class="price">5,25</div>
          <div class="eurperh">€ / Stunde</div>
        </div>
      </div>
      <div class="data">
        <input class="picker-input" [ngModel]="moment | date: 'short'" [(dateTimePicker)]="moment" [mode]="'dropdown'" readonly>
        <!-- <input mdInput [mdDatepicker]="picker" placeholder="Choose a date">
        <button mdSuffix [mdDatepickerToggle]="picker"></button>
        <md-datepicker #picker></md-datepicker> -->
      </div>
      <button class="btn button_style" type="submit">Sofort buchen</button>
    </div>
  </div>
</div>
