<!-- <p>
  {{ citys.city }}
</p> -->
<div class="row searchpage">Suchergebnisse / <span class="search_amount">// 8 Räume gefunden</span></div>
<div class="row results">
  <div class="room_result">
    <img src="" class="result_pic" />
    <div class="result_info"></div>
  </div>
  <div class="room_result">
    <img src="" class="result_pic" />
    <div class="result_info"></div>
  </div>
  <div class="room_result">
    <img src="" class="result_pic" />
    <div class="result_info"></div>
  </div>
  <div class="room_result">
    <img src="" class="result_pic" />
    <div class="result_info"></div>
  </div>
  <div class="room_result">
    <img src="" class="result_pic" />
    <div class="result_info"></div>
  </div>
  <div class="room_result">
    <img src="" class="result_pic" />
    <div class="result_info"></div>
  </div>
</div>
