<div class="row searchpage">Suchergebnisse / <span class="search_amount">// 8 Räume gefunden</span></div>
<div class="row results">
  <!-- Könnte man durch *ngFor optimieren...  -->
  <div *ngIf="rightLocation()" class="room_result" [routerLink]="['/room-profile', 1]">
    <img src="{{ rooms[0].roompic }}" class="result_pic" />
    <div class="result_info">
      <div class="result_detail1">{{ rooms[0].name }}</div>
      <div class="result_detail1" style="font-size: 12px;">in {{ rooms[0].location }}</div>
      <div class="result_detail2">{{ rooms[0].price }} <span style="font-size: 14px;">€ / Stunde</span></div>
    </div>
  </div>
  <div *ngIf="rightLocation2()" class="room_result" [routerLink]="['/room-profile', 2]">
    <img src="{{ rooms[1].roompic }}" class="result_pic" />
    <div class="result_info">
      <div class="result_detail1">{{ rooms[1].name }}</div>
      <div class="result_detail1" style="font-size: 12px;">in {{ rooms[1].location }}</div>
      <div class="result_detail2">{{ rooms[1].price }} <span style="font-size: 14px;">€ / Stunde</span></div>
    </div>
  </div>
  <div *ngIf="rightLocation3()" class="room_result" [routerLink]="['/room-profile', 3]">
    <img src="{{ rooms[2].roompic }}" class="result_pic" />
    <div class="result_info">
      <div class="result_detail1">{{ rooms[2].name }}</div>
      <div class="result_detail1" style="font-size: 12px;">in {{ rooms[2].location }}</div>
      <div class="result_detail2">{{ rooms[2].price }} <span style="font-size: 14px;">€ / Stunde</span></div>
    </div>
  </div>
  <div *ngIf="rightLocation4()" class="room_result" [routerLink]="['/room-profile', 4]">
    <img src="{{ rooms[3].roompic }}" class="result_pic" />
    <div class="result_info">
      <div class="result_detail1">{{ rooms[3].name }}</div>
      <div class="result_detail1" style="font-size: 12px;">in {{ rooms[3].location }}</div>
      <div class="result_detail2">{{ rooms[3].price }} <span style="font-size: 14px;">€ / Stunde</span></div>
    </div>
  </div>
  <div *ngIf="rightLocation5()" class="room_result" [routerLink]="['/room-profile', 5]">
    <img src="{{ rooms[4].roompic }}" class="result_pic" />
    <div class="result_info">
      <div class="result_detail1">{{ rooms[4].name }}</div>
      <div class="result_detail1" style="font-size: 12px;">in {{ rooms[4].location }}</div>
      <div class="result_detail2">{{ rooms[4].price }} <span style="font-size: 14px;">€ / Stunde</span></div>
    </div>
  </div>
  <div *ngIf="rightLocation6()" class="room_result" [routerLink]="['/room-profile', 6]">
    <img src="{{ rooms[5].roompic }}" class="result_pic" />
    <div class="result_info">
      <div class="result_detail1">{{ rooms[5].name }}</div>
      <div class="result_detail1" style="font-size: 12px;">in {{ rooms[5].location }}</div>
      <div class="result_detail2">{{ rooms[5].price }} <span style="font-size: 14px;">€ / Stunde</span></div>
    </div>
  </div>
</div>
