<!-- <p>
  {{ citys.city }}
</p> -->
<div class="row searchpage">Suchergebnisse / <span class="search_amount">// 8 Räume gefunden</span></div>
<div class="row results">
  <div class="room_result">
    <img src="{{ rooms[0].roompic }}" class="result_pic" />
    <div class="result_info"></div>
  </div>
  <div class="room_result">
    <img src="{{ rooms[1].roompic }}" class="result_pic" />
    <div class="result_info"></div>
  </div>
  <div class="room_result">
    <img src="{{ rooms[2].roompic }}" class="result_pic" />
    <div class="result_info"></div>
  </div>
  <div class="room_result">
    <img src="{{ rooms[3].roompic }}" class="result_pic" />
    <div class="result_info"></div>
  </div>
  <div class="room_result">
    <img src="{{ rooms[4].roompic }}" class="result_pic" />
    <div class="result_info"></div>
  </div>
  <div class="room_result">
    <img src="{{ rooms[5].roompic }}" class="result_pic" />
    <div class="result_info"></div>
  </div>
</div>
