.booking {
  background-color: $mainBackground;

  .content {
    width: 750px;
    height: 305px;
    margin: auto;

    .title {
      float: left;
      background-color: $mainBackground;
      color: $mainblue;
      font-family: $mainFontFamily;
      font-size: 100px;
      text-transform: uppercase;
      letter-spacing: 2px;
      width: 330px;
      height: 133px;
    }

    .pricebox {
      height: 133px;
      width: 370px;
      margin-left: 380px;

      .pricebox_inner {
        position: absolute;
        margin: 18px 10px 10px;
        width: 360px;
        height: 98px;
        background-color: #eee;
        border-radius: 5px;

        .price_font {
          margin-top: 7px;
          margin-left: 15px;
          font-family: $mainFontFamily;
          color: $mainblue;
          text-transform: uppercase;
          font-size: 18px;
        }

        .price {
          width: 195px;
          background-color: #29C1B5;
          color: $mainBackground;
          text-align: right;
          height: 53px;
          margin-left: 14px;
          font-size: 39px;
          padding-right: 10px;
        }

        .eurperh {
          position: absolute;
          margin-left: 230px;
          margin-top: -45px;
          text-transform: uppercase;
          font-family: $mainFontFamily;
          font-size: 30px;
        }
      }
    }

    .data {
      background-color: $mainblack;
      color: $mainblack;
      height: 95px;
      margin-bottom: 10px;
      padding-top: 23px;
      padding-left: 50px;

      button {
        color: $mainblue;
      }

      .booking_font {
        color: $mainBackground;
        font-family: $mainFontFamily;
        text-transform: uppercase;
        position: absolute;
        font-size: 30px;
      }

      .dateinput {
        width: 210px;
        height: 45px;
        font-size: 18px;
        text-align: right;
        padding-right: 8px;
        color: $mainblack;
        padding-top: 3px;
      }
    }

    .button_style {
      width: 100%;
      height: 70px;
      background-color: $mainblue;
      text-transform: uppercase;
      color: $mainBackground;
      font-family: $mainFontFamily;
      font-size: 40px;
    }
  }
}
