.header {
  &.navbar {
   margin-bottom: 0;
   border: none;
  }

  .navbar-brand {
    color: $mainblack !important;
    font-family: $mainFontFamily;
    font-weight: bold;
    font-size: 35px;
  }

  .header-link {
    color: $mainblack;
    text-decoration: none;
    padding-right: 15px;
    cursor: pointer;
  }

  .nav.navbar-nav.navbar-right {
    padding-top: 15px;
  }
}
