.headerImg {
  .preImg {
    background-image: url(https://static.pexels.com/photos/210590/pexels-photo-210590.jpeg);
    height: 350px;
    width: auto;
    background-size: 100%;
    padding-top: 30px;


    .title {
    color: $mainblue;
    font-size: 110px;
    font-family: $mainFontFamily, arial;
    letter-spacing: 3px;
    text-align: center;
    }

    .search-section {
      text-align: center;

      .searchbar {
        width: 350px;

        .input-group-btn {
          width: 40px;

          .btn-default {
            border: none;
            background-color: transparent;
            color: $mainblue;
          }
        }
      }
    }
  }
}
