.landlord {
  background-color: $mainBackground;

  .info_container {
    width: 750px;
    background-color: $mainblack;
    margin: auto;
    margin-top: 55px;
    height: 400px;
    margin-bottom: 25px;
  }
}
