.landlord {
  background-color: $mainBackground;

  .info_container {
    width: 750px;
    background-color: $mainblack;
    margin: auto;
    margin-top: 55px;
    height: 400px;
    margin-bottom: 25px;
    color: $mainBackground;

    .realfriend {
      position: absolute;
      background-color: #FFFD01;
      font-family: $mainFontFamily;
      text-transform: uppercase;
      color: $mainblack;
      font-size: 20px;
      padding: 6px;
      border-radius: 5px;
      margin-top: -186px;
      right: 0;
      margin-right: 20px;
    }

    .realfriend_d1 {
      background-color: #FFFD01;
      height: 18px;
      width: 39px;
      position: absolute;
      margin-top: -185px;
      right: 0;
      margin-right: 146px;
      border-radius: 2px;
    }

    .realfriend_d2 {
      background-color: #FFFD01;
      height: 18px;
      width: 18px;
      position: absolute;
      margin-top: -164px;
      right: 0;
      margin-right: 146px;
      border-radius: 2px;
    }

    .realfriend_d3 {
      background-color: #FFFD01;
      height: 18px;
      width: 18px;
      position: absolute;
      margin-top: -146px;
      right: 0;
      margin-right: 235px;
      border-radius: 2px;
    }

    .realfriend_d4 {
      background-color: #FFFD01;
      height: 18px;
      width: 18px;
      position: absolute;
      margin-top: -209px;
      right: 0;
      margin-right: 294px;
      border-radius: 2px;
    }

    .realfriend_d5 {
      background-color: #FFFD01;
      height: 18px;
      width: 18px;
      position: absolute;
      margin-top: -186px;
      right: 0;
      margin-right: 352px;
      border-radius: 2px;
    }

    .row {
      margin: 0;

      &.upper {
        height: 200px;

      }

      .col-sm-9 {
        padding: 0;
        margin-left: 14px;
        width: 548px;

        .infotext {
          background-color: #383838;
          margin-left: 10px;
          margin-right: 10px;
          height: 133px;
          border-radius: 4px;
          padding: 17px;
          overflow: auto;

          .infotext_overflow {
            height: 99px;
            overflow: auto;
          }
        }
      }

      &.data {
       background-color: #383838;
       margin-top: 13px;
       margin-left: 10px;
       margin-right: 10px;
       height: 100px;

       .col-sm-3 {
            text-align: center;
            font-family: $mainFontFamily;
            text-transform: uppercase;

            .user_data {
              font-size: 37px;
              margin-top: 16px;
            }

            .text {
              font-size: 15px;
              margin-top: -5px;
            }
          }
      }

      &.contact {
        margin-top: 6px;
        margin-left: 10px;
        margin-right: 10px;
        height: 70px;

        .title {
          float: left;
          font-family: $mainFontFamily;
          text-transform: uppercase;
          font-size: 58px;
          color: $mainblue;
        }

        .send_message {
          float: left;
          text-align: center;
          margin-left: 43px;
          font-family: $mainFontFamily;
          margin-top: 12px;
          text-transform: uppercase;
          font-size: 14px;

          a {
            color: $mainblue;
            text-decoration: none;
            cursor: not-allowed;
          }
        }

        .phone_mail {
          float: left;
          font-family: $mainFontFamily;
          margin-left: 48px;
          margin-top: 24px;
        }
      }
    }
  }
}
