//main styles

$mainblack:#232323;
$mainblue: #29C1B5;
// #75D1C2
$mainBackground: #FCFCFC;
$mainOrange: #FFD27F;

$mainFontFamily: 'League Gothic';

  @media (max-width: 990px) {
    body {
      padding: 0;
      background-color: $mainBackground;
    }
  }

  html, body {
  height: 100%;
  background-color: $mainBackground;

  .row {
    margin-left: 0;
    margin-right: 0;
  }

  .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
    padding-left: 0;
    padding-right: 0;
  }

  // Scrollbar in Chrome

  ::-webkit-scrollbar {
  width: 5px;
}

 ::-webkit-scrollbar-thumb {
  background: #adadad;
}
}

//after styles

@import url(http://allfont.net/allfont.css?fonts=league-gothic);
@import 'header';
@import 'headerImg';
@import 'landingPageBody';
@import 'footer';
@import 'quote-carousel';
@import 'user-profile';
@import 'modal';
@import 'signup-login-modal';
@import 'room-header';
@import 'booking-section';
@import 'booking-modals';
@import 'room-attributes';
@import 'landlord-infos';
@import 'room-ranking';
@import 'room-comments';
@import 'auth';
@import 'search';
@import 'page-not-found';

@import "~@angular/material/prebuilt-themes/indigo-pink.css";
