//main styles

$mainblack:#232323;
$mainblue: #29C1B5;
// #75D1C2
$mainBackground: #FCFCFC;
$mainOrange: #FFD27F;

$mainFontFamily: 'League Gothic';

  @media (max-width: 990px) {
    body {
      padding: 0;
    }
  }

  html, body {
  height: 100%;

  // Scrollbar in Chrome

  ::-webkit-scrollbar {
  width: 5px;
}

 ::-webkit-scrollbar-thumb {
  background: #adadad;
}
}

//after styles

@import url(http://allfont.net/allfont.css?fonts=league-gothic);
@import 'header';
@import 'headerImg';
@import 'landingPageBody';
@import 'footer';
@import 'quote-carousel';
@import 'user-profile';
@import 'modal';
@import 'room-header';
@import 'booking-section';
@import 'room-attributes';
@import 'landlord-infos';
@import 'room-ranking';
@import 'room-comments';

@import "~@angular/material/prebuilt-themes/indigo-pink.css";
