.comments {
  background-color: $mainBackground;

  .comments_container {
    width: 750px;
    background-color: red;
    margin: auto;
    margin-top: 50px;
    height: 400px;
    margin-bottom: 100px;
    color: $mainblack;
  }
}
