.room-attr {
 background-color: $mainBackground;

  .box {
    width: 750px;
    margin: auto;

    .col-sm-6 {
      padding: 0;

      .charac {
        background-color: #eee;
        margin-bottom: 20px;
        height: 210px;
        overflow: auto;

        .row {
          margin: 0;
          margin-bottom: 14px;
          height: 36px;
          background-color: red;
        }
      }
    }

    .boxtitle {
      text-align: left;
      text-transform: uppercase;
      font-family: $mainFontFamily;
      color: $mainblue;
      font-size: 24px;
      margin-bottom: 3px;
    }

    .description {
      height: 145px;
      background-color: #eee;
      padding: 18px;
      font-family: Arial;
      font-size: 13px;
      color: $mainblack;
    }

    .address {
      background-color: #eee;
      height: 166px;
      padding-top: 15px;

      .row {
        margin: 0;
        margin-top: 14px;
        height: 36px;
        margin-left: 24px;

        .attr_title {
          float: left;
          font-family: $mainFontFamily;
          color: $mainblack;
          font-size: 20px;
          margin-left: 15px;
          margin-top: 6px;
        }

        .field_left {
          position: absolute;
          margin-left: 100px;
          background-color: #d6d6d6;
          height: 36px;
          border-radius: 3px;
          width: 255px;
          padding: 8px;
          font-family: Arial;
        }

        .field_right {
          position: absolute;
          margin-left: 65px;
          background-color: #d6d6d6;
          height: 36px;
          border-radius: 3px;
          width: 255px;
          padding: 8px;
          font-family: Arial;
        }
      }
    }
  }
}
