.searchpage {
  background-color: $mainBackground;
  color: $mainblack;
  font-family: $mainFontFamily;
  text-transform: uppercase;
  font-size: 55px;
  text-align: center;
  padding-top: 25px;
  padding-bottom: 20px;

  .search_amount {
    color: $mainblue;
    font-size: 40px;
  }
}


.results {
  padding-left: 18%;
  background-color: $mainBackground;

  @media (max-width: 1000px) {
    padding-left: 0;
    background-color: $mainBackground;
  }

  .room_result {
    width: 320px;
    height: 280px;
    float: left;
    margin-left: 20px;
    margin-bottom: 20px;
    cursor: pointer;

    .result_pic {
      width: 320px;
      height: 280px;
      object-fit: cover;
      border-radius: 2%;
    }

    .result_info {
      width: 320px;
      height: 80px;
      background-color: $mainblack;
      position: absolute;
      margin-top: -80px;
      opacity: 0.6;
      color: $mainBackground;
      overflow: auto;

      .result_detail1 {
        width: fit-content;
        margin-top: 4px;
        margin-left: 7px;
        font-size: 14px;
      }

      .result_detail2 {
        font-size: 24px;
        text-align: right;
        margin-right: 10px;
        margin-top: -2px;
      }
    }
  }
}
