<div class="row ranking">
  <div class="col-xs-12">
    <div class="box">
      <div class="boxtitle" style="text-align: center;">Bewertung und Kommentare</div>
      <div class="col-sm-4">
        <div class="points">{{ room.roomdescription_rating }}</div>
        <div class="text">Raum ist wie beschrieben</div>
      </div>
      <div class="col-sm-4">
        <div class="points">{{ room.arrangement_rating }}</div>
        <div class="text">Absprache und Übergabe</div>
      </div>
      <div class="col-sm-4">
        <div class="points">{{ room.conditions_rating }}</div>
        <div class="text">Anforderungen erfüllt</div>
      </div>
    </div>
  </div>
</div>
